<!doctype html>
<html lang="en-US no-js">

<head>
	<title>{{ site.title }} | {{ site.subtitle }}</title>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#ffffff" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	{% block head_meta %}
	<meta name="robots" content="noindex, follow" />
	{% endblock %}

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i&display=swap" />
	<link rel="stylesheet" href="{{ site.url }}/build/app.css" />

	<link rel="apple-touch-startup-image" href="{{ site.url }}/build/2048x2048.png" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/build/jackson/76x76.png" />
	<link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/build/jackson/120x120.png" />
	<link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/build/jackson/128x128.png" />
	<link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/build/jackson/152x152.png" />
	<link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/build/jackson/196x196.png" />
	<link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/build/jackson/512x512.png" />
	<link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/build/jackson/1024x1024.png" />
	<link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/build/jackson/2048x2048.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/build/jackson/76x76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/build/jackson/120x120.png" />
	<link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/build/jackson/128x128.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/build/jackson/152x152.png" />
	<link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/build/jackson/196x196.png" />
	<link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/build/jackson/512x512.png" />
	<link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/build/jackson/1024x1024.png" />
	<link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/build/jackson/2048x2048.png" />

	<link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
	{% block head_styles %}
	{% endblock %}
	{% block head_scripts %}
	{% endblock %}
</head>

<body>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19790921-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-19790921-4');
	</script>
	<div class="site">

		<figure class="site__banner">
			<img src="{{ theme_path("assets/images/owie-lanctot-profile.jpg") }}" alt="Owie Lanctot" class="banner__image" />
			<figcaption class="banner__caption">
				<!-- Photo by _______ -->
			</figcaption>
		</figure>

		<main class="site__body page">
			<header class="page__section page__intro">

			<h1 class="intro__headline"><span>Olivia</span> <span class="nickname">“Owie”</span> <span>Lanctot</span></h1>
			<h2 class="intro__subheadline">{{ site.subtitle ? site.subtitle : 'The name says it all.' }}</h2>

			</header>
			<article id="content" class="page__content">

				<section class="page__section prose">
					<h3 class="section__headline">This is me.</h3>
					<p>I love living in downtown Grand Rapids – there are a ton of festivals and entertainment options, everything from concerts and musicals to hockey. There are also plenty of restaurants that are all within walking distance. But, in under half an hour, I can be to the cottage or Lake Michigan where I like to bike and boat.</p>
				</section>

				<section class="page__section instagram">
					<h3 class="section__headline"><em>And</em> this is Sunshine.</h3>
					<div id="instafeed" class="instagram__feed"></div>
				</section>

				<section class="page__section">
					<h3 class="section__headline"><em>And</em> here&rsquo;s some work I&rsquo;ve done.</h3>
					<p class="section__intro">I've worked in the Greater Grand Rapids area since 2010. I've done a lot in supply chain and logistics, sales, marketing, education and regional community health. For a bit, I focused on helping mid-sized companies refine their supply chain and logistics strategies.</p>

					<details class="button--tab tab">
						<summary class="section__headline">Business Development Coodinator</summary>
						<div class="prose">
							<h4 class="section__subheadline">The Right Place</h4>
							<time class="section__datetime">11/2019 – present</time>
							<p>I provide retention and expansion services to companies in Kent County!</p>
						</div>
					</details>

					<details class="button--tab tab">
						<summary class="section__headline">Outside Sales Rep</summary>
						<div class="prose">
							<h4 class="section__subheadline">Automated Logistics Systems, LLC.</h4>
							<time class="section__datetime">03/2017 – 11/2019</time>
							<p>Experienced Outside Sales Representative with a demonstrated history of working in the logistics and supply chain industry.</p>
						</div>
					</details>
				</section>

				<section class="page__section">
					<h2 class="section__headline"><em>And</em> here&rsquo;s some schools I&rsquo;ve gone to.</h2>

					<br/>
					<br/>

					<details class="button--tab tab">
						<summary class="section__headline">Western Michigan University</summary>
						<div class="prose">
							<h4 class="section__subheadline">Master of Business Administration</h4>
							<time class="section__datetime">2015 – 2017</time>
							<p>Olivia is happy with her choice of WMU for her MBA. The real-world business situations and hands-on learning in the program have helped me tackle business challenges with confidence, and become a go-to problem solver at her company.</p>
							<p><a href="https://www.youtube.com/watch?v=OC7jcjREy1s" rel="noopener">Watch me discuss it!</a></p>
						</div>
					</details>

					<details class="button--tab tab">
						<summary class="section__headline">Central Michigan University</summary>
						<div class="prose">
							<h4 class="section__subheadline">Bachelor of Applied Arts, Entrepreneurship<br/>Bachelor of Applied Arts, Commercial Recreation</h4>
							<time class="section__datetime">2008 – 2010</time>
							<p>Central Michigan University is a nationally ranked institution that fosters the transformative power of advanced learning while embracing a sense of community among our students, faculty, staff and more than 235,000 alumni around the world.</p>
						</div>
					</details>

					<details class="button--tab tab">
						<summary class="section__headline">Ferris State University</summary>
						<div class="prose">
							<h4 class="section__subheadline">Undergrad</h4>
							<time class="section__datetime">2006 – 2008</time>
							<p>Ferris State values education that is career-oriented, balances theory and practice, develops critical thinking, emphasizes active learning, and fosters responsibility and the desire for the life-long pursuit of knowledge.</p>
						</div>
					</details>
				</section>

			</article>
			<footer class="page__footer">
				<section class="copyright">
					&copy; 2019 &ndash; {{ 'now' | date('Y') }} Olivia Lanctot &amp; <a href="//onemohrti.me" target="_blank" rel="nofollow" aria-label="Derek Mohr's website">Derek Mohr</a>
				</section>
				<nav class="social">
					<ul>
						<li><a href="#">Email</a></li>
						<li><a href="#">LinkedIn</a></li>
					</ul>
				</nav>
			</footer>
		</main>
	</div>

	<script src="{{ site.url }}/assets/js/lib/instafeed.min.js"></script>
	<script src="{{ site.url }}/build/app.js"></script>

</body>

</html>
